@font-face 
{
    font-family: "Athelas";
    src:url("font/Athelas-Bold.woff") format("woff"),
        url("font/Athelas-BoldItalic.woff") format("woff"),
        url("font/Athelas-Italic.woff") format("woff"),
        url("font/Athelas-Regular.woff") format("woff");
   }

body
{
    margin: 0;
    padding: 0;
    background-color: #EEE;
    color: #02011A;
    font-family: Verdana, Tahoma, sans-serif;
    width: 100%;
}

#grid
{
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-auto-rows: 150px 4fr;
    width: 70%;
    height: 70%;
    margin: auto;
    text-align: justify;
}

header
{
    background-image: url("assets/trees.png");
    color: #fff;
    grid-column: 2;
} 

aside
{
    background-color: #1b1b1b;
    color: #EEE;
    grid-column: 1;
    grid-row: 1 / span 2;
}

section
{
    background-color: #EDEDED;
    color: #02011A;
}

.content
{
    padding: 20px;
    font-size: 1em;
    border: 1px solid #1b1b1b;
}



/**DETAILS**/
p
{
    text-align: justify;
}

h1
{
    font-size: 3.5em;
    padding-bottom: 0;
    margin-bottom: 0;
    margin-top: 5px;
}

h2
{
    margin: 0;
    font-size: 1.5em;
}

h1, h2
{
    font-family: 'Athelas', Georgia, serif;
}

/**HEADER**/
h1, header p
{
    text-align: center;
}


/**ASIDE**/
#moi
{
    border-radius:150px;
    width:240px;
    height:240px;
    margin: 30px 15px 30px 15px;
    border: 1px solid #EEE;
    padding: 7px;
}

aside img
{
    font-size: 0.9em;
    font-weight: bold;
}

aside h2, aside p
{
    padding: 10px;
    margin: 40px 0 0 0;
}

aside h2
{
    text-align: center;
}

aside p
{
    font-size: 0.9em;
    line-height: 1.5em;
    margin-top: 0;
}


/**SECTION**/
li
{
    list-style-type: none;
}

#success li
{
    list-style-image: url("assets/success.png");
}

section h2
{
    margin: 25px 600px 25px 25px;
    border-bottom: 1px dashed #1b1b1b;
}