@font-face {
    font-family: 'Archistico';
    src: url('font/Archistico_Bold-webfont.eot') format('embedded-opentype'),
         url('font/Archistico_Bold-webfont.svg') format('svg'),
         url('font/Archistico_Bold-webfont.ttf') format('truetype'),
         url('font/Archistico_Bold-webfont.woff') format('woff');
}

body
{
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #02011A;
    font-family: sans-serif;
    width: 100%;
}

#grid
{
    display: grid;
    grid-template-columns: 500px 3fr;
    grid-auto-rows: 100px 4fr;
    width: 70%;
    height: 60%;
    margin: auto;
    text-align: justify;
}

header
{
    background-image: url("assets/trees.png");
    grid-column: 2;
} 

aside
{
    background-color: #1b1b1b;
    color: #EEE;
    grid-column: 1;
    grid-row: 1 / span 2;
}

section
{
    background-color: #EDEDED;
    color: #1b1b1b;
}

.content
{
    padding: 20px;
    font-size: 1em;
}



/**DETAILS**/
p
{
    text-align: justify;
}

h1
{
    font-size: 3.5em;
    padding-bottom: 0;
    margin-bottom: 0;
    margin-top: 5px;
    font-family: 'Archistico';
}

h2
{
    margin: 0;
    font-size: 1.5em;
}


/**HEADER**/
h1, header p
{
    text-align: center;
}


/**ASIDE**/
#moi
{
    border-radius: 200px;
    width: 300px;
    height: 300px;
    margin: 50px 100px 30px 80px;
    border: 1px solid #EEE;
    padding: 7px;
}

aside img
{
    font-size: 0.9em;
    font-weight: bold;
}

aside h2, aside p
{
    padding: 10px;
    margin: 40px 0 0 0;
}

aside h2
{
    text-align: center;
}

aside p
{
    font-size: 1em;
    line-height: 1.5em;
    margin-top: 0;
}


/**SECTION**/
li
{
    list-style-type: circle;
}



section h2
{
    margin: 50px 600px 25px 25px;
    border-bottom: 1px dashed #1b1b1b;
    font-size: 2em;
}

.languages
{
    width: 600px;
    margin-left: 80px;
}

.computing
{
    width: 400px;
    margin-left: 80px;
    height: 220px;
}
