@font-face 
{
    font-family: "Athelas";
    src:url("font/Athelas-Bold.woff") format("woff"),
        url("font/Athelas-BoldItalic.woff") format("woff"),
        url("font/Athelas-Italic.woff") format("woff"),
        url("font/Athelas-Regular.woff") format("woff");
   }

body
{
    margin: 0;
    padding: 0;
    color: #02011A;
    font-family: Verdana, Tahoma, sans-serif;
    width: 100%;
}

#grid
{
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-auto-rows: 150px 4fr;
    width: 100%;
    height: 70%;
    margin: auto;
}

header
{
    background-image: url("assets/trees.png");
    color: #fff;
    grid-column: 2;
} 

aside
{
    background-color: #729182;
    color: #fff;
    grid-column: 1;
    grid-row: 1 / span 2;
}

section
{
    background-color: #ecf0f1;
    color: #02011A;
}

.content
{
    text-align: justify;
    padding: 20px;
    font-size: 1em;
    border: 1px solid black;
}






/**DETAILS**/
p
{
    text-align: justify;
}

h1, header p
{
    text-align: center;
}

h1, h2
{
    font-family: 'Athelas', Georgia, serif;
}

h2
{
    margin: 0;
}

img
{
    border-radius:120px;
    width:220px;
    height:220px;
    margin-left: 60px;
    margin-top: 20px;
    border: 4px solid rgba(255, 255, 255, 0.5);
}

li
{
    list-style-type: none;
}