@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;1,100;1,300&display=swap");
body {
  font-family: "Lato", sans-serif;
}

.wrapper {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.resume {
  display: -ms-grid;
  display: grid;
  width: 140vh;
  height: 180vh;
  margin-bottom: 5%;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
  -ms-grid-rows: 1fr 3fr 2fr 2fr;
      grid-template-rows: 1fr 3fr 2fr 2fr;
  -webkit-box-shadow: 0 5px 9px 0 rgba(0, 0, 0, 0.35);
          box-shadow: 0 5px 9px 0 rgba(0, 0, 0, 0.35);
      grid-template-areas: "photo  about" "contact  work" "contact  skills" "community  languages";
}

.grid-area {
  padding: 1em 1em 1em 1em;
  border: 1px black solid;
}

h1 {
  font-family: "Abril Fatface", serif;
  font-weight: 100;
  font-size: 4em;
  margin-bottom: 1em;
}

h2 {
  font-size: 2em;
}

h3 {
  margin: 10px 0 60px 0;
  padding: 0;
  font-size: 1.3em;
}

.medias {
  list-style-type: none;
  position: absolute;
  right: 3.3%;
  top: 80%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bulles {
  width: 60px;
  height: 60px;
  border-radius: 50px;
  border: 1px solid #f1f1f1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px 0;
  background: #f1f1f1;
  cursor: pointer;
  position: relative;
}

.logo-medias {
  width: 30px;
  height: 30px;
}

.photo {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: photo;
}

.nat {
  width: 220px;
  margin-left: 6%;
}

.about {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: about;
}

.contact {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: contact;
}

.pictos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.picto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mail {
  width: 30px;
}

.phone {
  width: 20px;
}

.world {
  width: 30px;
}

.scolarity {
  margin-top: 100px;
}

.work {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: work;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.works {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

h4 {
  padding-bottom: 0;
  margin-bottom: 0;
}

.miniature {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.miniature:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.languages {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
  grid-area: languages;
}

.languagesskills {
  width: 450px;
  margin-left: 120px;
}

.skills {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: skills;
}

.community {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: community;
}
/*# sourceMappingURL=style.css.map */