body
{
    margin: 2% 5%;
    padding: 0;
}

.grid
{
    display: grid;
    grid-template-columns: 6fr;
    //grid-row-gap: 0.2em;
}

header
{
    grid-column: 1/3;
    background-color: red;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.title
{
    grid-row: 1/5;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}


figure
{
    width: 400px;
}

//My pic
.nat 
{
    width: 250px;
    padding: 20px;
}

.socialNetwork
{
    width: 30px;
}

h1
{
    writing-mode: vertical-rl;
    transform:scale(-1);
    font: {
        size: 4em;
    }
    margin: 0;
}
h2
{
    writing-mode: vertical-rl;
    transform:scale(-1);
    font: {
        size: 2em;
    }
    margin: 0%;
}

.line
{
    border-left: 1px solid black;
    height: 500px;
}

aside
{
    grid-column: 1;
    grid-row: 2 / 5;
    background-color: red;
}

//Social Networks
.socialNetworks
{
    display: flex;
    flex-direction: column;
    list-style-type: none;
}
