@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;1,100;1,300&display=swap');

body {
    font-family: "Lato", sans-serif;
}

.wrapper {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.resume {
    display: grid;
    width: 140vh;
    height: 180vh;
    margin-bottom: 5%;
    grid-template-columns: 1fr 2fr;
    grid-template-rows   : 1fr 3fr 2fr 2fr;
    box-shadow           : 0 5px 9px 0 rgba(0, 0, 0, 0.35);
    grid-template-areas  :
        "photo  about"
        "contact  work"
        "contact  skills"
        "interests  languages";
}

.grid-area {
    padding: 1em 1em 1em 1em;
    border : 1px black solid;
}

h1 {
    font: {
        family: "Abril Fatface", serif;
        weight: 100;
        size: 4em;
    }
    margin-bottom: 1em;
}

h2 {
    font: {
        size: 2em;
    }
}

h3 {
    margin: 10px 0 60px 0;
    padding: 0;
    font: {
        size: 1.3em;
    }
}


//Social Networks=============================================
.medias {
    list-style-type: none;
    position: absolute;
    right: 3.3%;
    top: 80%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bulles {
    width: 60px;
    height: 60px;
    border-radius: 50px;
    border: 1px solid #f1f1f1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    background: #f1f1f1;
    cursor: pointer;
    position: relative;
}

.logo-medias {
    width: 30px;
    height: 30px;
}

//Photo==========================================================
.photo {
    grid-area: photo;
}

.nat {
    width: 220px;
    margin-left: 6%;
}

//What about me ?==============================================
.about {
    grid-area: about;
}


//Contact=======================================================
.contact {
    grid-area: contact;
}

.pictos {
    display: flex;
    flex-direction: column;
}

.picto {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.mail {
    width: 30px;
}
.phone {
    width: 20px;
}
.world {
    width: 30px;
}

.scolarity {
    margin-top: 100px;
}

//Works========================================================
.work 
{
    grid-area: work;
    display: flex;
    flex-direction: row;
}

.works
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h4
{
    padding-bottom: 0;
    margin-bottom: 0;
}

//------------------
.miniature {
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}
.miniature:hover {
    transform:scale(1.2);
}




//Languages=======================================
.languages {
    grid-area: languages;
}

.languagesskills {
    width: 450px;
    margin: 0 0 50px 120px;
}

//Skills==========================================
.skills {
    grid-area: skills;
}

//Interests========================================
.interests {
    grid-area: interests;
}